* {
    font-family: 'Quicksand';
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a.active {
    font-weight: 700;
}

strong {
    font-weight: 700;
    font-style: italic;
}

body {
    margin: auto;
    font-weight: 400;
}

main {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: mainAnimation 600ms ease-in-out 100ms both;
}

/* Modification du style pour que le footer reste en bas de fenêtre même lorsque la page est plus petite que la fenêtre */
#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100vw - 40px);
    max-width: 1900px;
    min-height: calc(100vh - 20px);
    margin: 10px auto;
    border-radius: 15px;
    background-image: url(../../public/images/floral-background.jpg);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.471);
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Pour l'accessibilité */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 576px) {
    main {
        margin: 20px 10px;
    }
    
    #root {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
        box-shadow: none;
    }
}

@keyframes mainAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}